<nav class="navbar">
    <div class="nav-brand">
        <a href="https://piaoweimei-zhou.github.io/fluffy-giggle/index.html">
            <img src="https://piaoweimei-zhou.github.io/fluffy-giggle/assets/images/logos/your-logo.png" alt="网站Logo" height="40">
            <span>飘哥工具箱</span>
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="https://piaoweimei-zhou.github.io/fluffy-giggle/index.html">首页</a></li>
        <li><a href="https://piaoweimei-zhou.github.io/fluffy-giggle/categories.html">所有工具</a></li>
        <li><a href="https://piaoweimei-zhou.github.io/fluffy-giggle/blog.html">教程博客</a></li>
        <li><a href="https://piaoweimei-zhou.github.io/fluffy-giggle/about.html">关于我们</a></li>
        <li><a href="https://piaoweimei-zhou.github.io/fluffy-giggle/contact.html">联系我们</a></li>
    </ul>
    <div class="nav-search">
        
    </div>
</nav>